---
layout: layout.liquid
title: blog1
---

<h1>Every Traveller Needs To Know</h1>
<div class="posts">
  <p>The beauty of the galaxy is always fascinating, and you would not want that moment to end.  Looking outside of your window to the nebulas, stars, planets, and many others. There are so many things to be explored, discovered, and experienced; these are the mottos of an Interstellar Galaxy Explorer. An interstellar galaxy explorer will have many adventures; some of them make you lose your mind, and some of them will make you think about your past, but the most important thing is you always have to remember where you are coming from. A wise oracle once said, "If you do not know where you are coming from, you will not reach where you are going." 
  The galaxy will try to trick you and hit you with various obstacles, hallucinations, and mystic powers, but if you remember where you are coming from, you will always reach the end of the tunnel where the light comes from. 
  When you start this journey, do not forget to get a book to take notes and a galactic dictionary since you will need it a lot, especially when you are hungry. Take notes of everything you see as important, and make sure those notes are detailed since you can sell these notes to other galaxies colonies. Lastly, we hope your guide always be the light of galaxies and the power will be with you.</p>
</div>

<img alt="pine" src="/images/pine.png" width="50" />