---
layout: layout.liquid
title: blog2
---

<h1>What To Know Before Travelling Galaxies</h1>
<div class="posts">
  <p>In this blog post, we will tell you the secrets of some galaxies and how to be safe while traveling. First, the Milky Way is the most beautiful galaxy we can ever see, so far we have discovered. If you are looking for more adventure-based travel, you should check the PG-424, known as Mother Hole. A giant black hole in the middle of the galaxy eats up the galaxy every light year. If you go there, make sure you do not get too close to it because if it starts to suck you in, you have zero chance of getting out of it. As you can imagine this big of adventure should have something valuable, this galaxy has a stone know as Hilti and used to make emergency batteries which can power ships up to 2 light years. Since this stone is so valuable, most adventurer goes there and collect some to finance their travel along the galaxies.
  To be safe while traveling, avoid hitchhikers. They can be Victorian, and you will understand it only when they attempt to kill you. Try to make stock of food and batteries as much as possible because some galaxies are unpredictable. Galaxies can hit others sometimes, and this will create a massive shock wave that will last for four light months. 
  Lastly, make sure to read and research before you go, no one wants to get face with unwanted surprises. Additionally, you can use Galactic Airways stations to cover your primary needs. They are mostly safe and reliable. Be safe out there and read us about being an Interstellar Galaxy Eplorer blog post.</p>
</div>
<img alt="pine" src="/images/pine.png" width="50" />