---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Interstellar Explorers Galaxy</h1>
<h1><strong>Writing Logs</strong></h1>
<div class="blurbs">
  <p class="blog1_blurb">The beauty of the galaxy is always fascinating, and you would not want that moment to end.  Looking outside of your window to the nebulas, stars, planets, and many others. There are so many things to be explored, discovered, and experienced; these are the mottos of an Interstellar Galaxy Explorer...</p>
  <p class="blog2_blurb">In this blog post, we will tell you the secrets of some galaxies and how to be safe while traveling. First, the Milky Way is the most beautiful galaxy we can ever see, so far we have discovered. If you are looking for more adventure-based travel, you should check the PG-424, known as Mother Hole...</p>
</div>
<div class="buttons">
  <a href="/blog1/">
    <button type="button">Read More</button>
  </a>
  <a href="/blog2/">
    <button type="button">Read More</button>
  </a>
</div>

<img alt="pine" src="/images/pine.png" width="50" />